<div class="container bg-light">

    <h5>Join our thriving community now! Please Enter details below</h5>

    <form method = "POST" action = "" >

        <div class = "p-1">

            <h6>First Name : </h6>

            <input class = "form-control" placeholder = "Please Enter Your First Name here" name = "firstName" />

        </div>

        <div class = "p-1">

            <h6>Last Name: </h6>

            <input class = "form-control" placeholder = "Please Enter Your Second Name here" name = "lastName" />

        </div>

        <div class = "p-1">

            <h6>Date Of Birth: </h6>

            <input class = "form-control" placeholder = "Please Enter Your DOB here" name = "dateOfBirth" />

        </div>

        <div class = "p-1">

            <h6>Email: </h6>

            <input class = "form-control" placeholder = "Please Enter Your Email here" name = "email" />

        </div>

        <div class = "p-1">

            <h6>Password: </h6>

            <input class = "form-control" placeholder = "Please Your Password here" name = "password" type = "password"/>

        </div>

        <button class = "btn btn-primary mt-3">Register</button>

    </form>

</div>