<div class = "container">

    <form method = "POST" action = "" >

        <div>

            <h6>Email: </h6>

            <input placeholder = "Please Enter Your Email here" name = "email" />

        </div>

        <div>

            <h6>Password: </h6>

            <input placeholder = "Please Your Password here" name = "password" type = "password"/>

        </div>

        <button class = "btn btn-primary mt-3">Sign In Now</button>

    </form>

</div>