<div class = "container">
    <form method = "Post" action = "">
        <h6>Welcome!</h6>
        <div class = "d-flex">
            <input class = "form-control" placeholder = "Add a task description and click 'Submit'. " />
            <button class = "btn btn-primary">Add Task</button>
        </div>
    </form>
</div>

<div class = "container">
    <div class = "row">
        <% mockData.todos.forEach((el, idx) => { %>
        <div class = "col-5 m-4 d-flex" style="background-color: grey">
            <div style ="width: 90%">
                <h5>ToDo #<%= idx + 1%></h5>
                <div class = "bg-white mb-2">
                    <span><%= el.description %></span>
                </div>
            </div>
            <div>
                <form method = "Post", action = "?_method=DELETE">
                    <button class = "btn btn-danger">
                        <span>X</span>
                    </button>
                </form>
            </div>
        </div>
        <% }) %>



    </div>
</div>